################################################################################
## Configuration file for creating a cluster running Grid Engine on AWS
################################################################################

## AMI ID to use for creating the cluster. Has to be a Debian/Ubuntu OS
AMI=ami-4e79ed36 ##Latest Ubuntu OS    

## Will the master node be also used as a worker, 0 no, 1 yes (anyntying not 1 is no)
isMasterAworker=1

## Instance type to use for Master
masterInstanceType=t2.2xlarge

## Instance type to use for Workers
workerInstanceType=t2.2xlarge

## Number of workers to spawn
## Can be 0 if firing only a master node
## Upper limit is define on by AWS...
workerNumber=5

## SSH key pair stored on your AWS account to 
KeyPair=myAwsKeyName

##Location of the private key
privateKey=~/.ssh/id_rsa

## ID of the EFS file system to use.
## IF left blank, a brand new EFS file system will be created
efsID=


## Root name to name the insances, -master and -nodeXXX will be appended to this name
## Can be left blank
instanceName=SGE-Cluster

## Name of the security group to use/create
## This security group will be configured to allow NFS and Grid Engine to couminicate between the instances
efsGrpName=NFS-SGE


## The AWS CLI is installed on all nodes of the cluster
## Copy local AWS config to the cluster, will copy value from "profile" to the cluster nodes
copyAWS_CLI_config=yes
profile=default

## IF these are set, will override local values and will be copied to the cluster
region=
accessKey=
secretKey=
